extends layout

block content
  h1= title
  form.form-horizontal(action='/api/ue', method='post')
    div.form-group
      label(class='col-sm-2 control-label', for='name') Nom
      div.col-sm-10
        input(type='text', class='form-control', id='name', name='name')
    div.form-group
      label(class='col-sm-2 control-label', for='code') Code
      div.col-sm-10
        input(type='text', class='form-control', id='code', name='code')
    div.col-sm-offset-2
      button(type='submit', class='btn btn-success') Créer l'unité d'enseignement